.main-layout{
display:flex;
height:60vh;
}

.left-panel{
width:20%;
border-right:1px solid #ccc;
padding:10px;
}

.main-layout{
display:flex;
height:60vh;
}
.routes-panel{
width:25%;
border-left:1px solid #ccc;
padding:10px;
}

.bottom-layout{
display:flex;
height:30vh;
border-top:1px solid #ccc;
}

.csv-panel{
width:70%;
padding:10px;
}

.logs-panel{
width:30%;
border-left:1px solid #ccc;
padding:10px;
}